/* Universal styles */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 1rem;
  background-color: none;
}

h1, h2, h3, nav, ul {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  color: black;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.2;
}

.box-title {
  padding: 0.5rem;
  border: 3px solid lightblue;
}

.half-highlight {
  background-image: linear-gradient(to right, transparent 50%, aqua 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 3s;
  background-position: -100% 100%;
}



@media only screen and (max-width: 480px) {
  body {
    margin: 0 auto;
  }
}

/* Navigation */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  border: 1px solid lightgray;
  color: white;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 3;
}

nav ul {
  list-style: none;
  display: flex;
  padding-right: 1.5rem;
}

nav li {
  padding-left: 1rem
}

nav a, nav button {
  border: 1px white solid;
  border-radius: 10%;
  padding: 0.5rem;
}

nav a:hover, nav button:hover {
  background-color: white;
  color: gray;
}

nav span {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    height: auto;
  }

  nav ul {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  nav span {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    padding-left: 0;
  }

  .branding {
    margin-bottom: 0.7rem;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .branding span {
    font-size: 1.5rem;
  }

  .branding img {
    display: none;
  }
}

/* About Alex section */

.mission {
  margin-top: 2rem;
}

.sections {
  display: flex;
  align-items: center;
}

.sections h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.section img {
  width: 80%;
  height: auto;
  text-align: center;
  margin-left: 2rem;
}

.section.words {
   width: 60%;
}

.section ul {
  font-size: 1rem;
}

.section li {
  list-style: circle;
  margin: 0.5rem;
  font-size: 1.3rem;
}

.section a {
  color: lightblue;
}

.achievements {
  margin-top: 1.5rem;
}

.achievements h1 {
  color: black;
  margin-bottom: 1.5rem;
}

.achievements ul {
  font-size: 1.2rem;
}

.achievements li {
  line-height: 1.7;
  list-style: square;
}

.achievements a {
  color: navy;
}

.achievements a:hover {
  color: lightblue;
}

@media only screen and (max-width: 950px) {
  .achievements {
    line-height: 1.7;
  }

  .mission h2 {
    font-size: 1.5rem;
  }

  .section li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .mission {
    margin-top: 1rem;
  }

  .sections {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .section {
    margin: 0 auto;
  }

  .section.words {
    width: 100%;
    margin: 2rem;
  }

  .section.words ul {
    margin-left: 1rem;
  }
}

/* Projects section */

#projects {
  display: none;
}

.example {
  display: flex;
  flex-direction: row;
  width: 80%;
  border: 1px solid gray;
  padding: 1.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.example img {
  width: 35rem;
  height: auto;
  border: 3px solid black;
}

.example button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.7rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: navy;
}

.example button:hover {
  background-color: lightblue;
  color: white;
}

.box-links {
  margin-top: 1rem;
  line-height: 1.2
}

.box-links a {
  color: lightpink;
}

.box-links a:hover {
  background-color: lightpink;
  color: white;
}

.description {
  display: none;
  width: 90%;
  margin-top: 0.5rem;
}

.example a {
  text-align: center;
}

.description a {
  border-bottom: 3px solid lightpink;
}

.description a:hover {
  background-color: lightpink;
}

.example ul {
  margin-left: 1.5rem;
}

.example li {
  line-height: 1.2;
  list-style: circle;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-left: 1.5rem;
}

.explanation h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.explanation a {
  color: black;
}

@media only screen and (max-width: 1200px) {

  .example img {
    width: 20rem;
    height: auto;
    border: 3px solid black;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .explanation {
    margin-left: 0;
    width: 90%;
  }

  .box-links {
    font-size: 0.8rem;
    margin: 1rem 0 0 0;

  }
}

@media only screen and (max-width: 800px) {
  h3 {
    font-size: 1.2rem;
  }

  .example {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .example img {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .explanation {
    margin: 0 auto;
  }

  .description {
    width: 100%;
    margin-left: 1rem;
  }

  .box-links {
    margin: 0 0 1rem 0;
  }
}

/* Footer */

footer {
  margin-top: 4rem;
  background-color: lightblue;
  height: auto;
  color: white;
  text-align: center;
  padding: 1.2rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

footer span {
  font-size: 0.8rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 80%;
}

.contact img {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
  height: auto;
}

.contact img:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 1031px) {
  footer {
    height: 9rem;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 539px) {
    .contact img {
      width: 2.5rem;
    }
  }
}
